# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go test

on:
  workflow_dispatch:
  push:
    branches: [ "1.0" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23'

    - name: Go dependency
      run: go mod tidy
    - name: Run coverage
      run: go test -v ./... -coverprofile=coverage.txt -covermode=atomic
    - name: Run govet
      run: go vet -v ./...
    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
    - name: Upload coverage to Codecov
      run: bash <(curl -s https://codecov.io/bash)
